body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e3f2fd;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  width: 800px;
  padding: 20px 30px;
}

.volume-slider {
  display: flex;
  gap: 10px;
  align-items: center;
}

.volume-slider input[type="range"] {
  accent-color: #fff;
}

.keys-check {
  display: flex;
  gap: 10px;
  align-items: center;
}

.keys-check input[type="checkbox"] {
  width: 60px;
  height: 30px;
  appearance: none;
  border-radius: 30px;
  background-color: #4b4b4b;
  cursor: pointer;
  position: relative;
}

.keys-check input[type="checkbox"]::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border-radius: inherit;
  background-color: #c9c9c4;
  position: absolute;
  left: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.7s;
}

.keys-check input[type="checkbox"]:checked::before {
  background-color: #f5f5dc;
  position: absolute;
  left: 2.1rem;
}

main {
  width: 800px;
  background-color: #000;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  border-radius: 0 0 8px 8px;
}

.piano-keys {
  display: flex;
  width: 700px;
}

.key {
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 10px;

  cursor: pointer;
}

.white {
  width: 80px;
  height: 200px;
  background-color: #fff;
  border-radius: 0 0 8px 8px;

  box-shadow: inset -1px -2px 5px #333;
  margin: 0 1px;
}

.black {
  width: 46px;
  height: 120px;
  margin: 0 -20px;
  z-index: 2;
  background: linear-gradient(#222, #000, #111);
  border-width: 1px 3px 8px;
  border-style: solid;
  border-color: #222 #444 #222;
  color: #fff;
}

.black.active {
  border-width: 1px 3px 3px;
}

.white.active {
  box-shadow: inset -2px -5px 8px #222;
  transform: scaleY(0.99) translateY(-1px);
}
